<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
    <link rel="stylesheet" href="style.css">
    <title>OSSFinder</title>
  </head>

  <body ng-controller="HomeController">

    <h1>OSSFinder</h1>
    <hr/>
    <!-- Form part 1 -->
    <div>   
      <h3>1. Enter the feature you are looking for.</h3>
      <p><small>Ex: "mapping", "graphing", "math", "matrix"</small></p>
      <input ng-model="featureSearchQuery"></input>
      <button ng-click="submitFeatureSearch()">Check</button>
      <p><span ng-bind="featureSearchResults.length"></span> repos match this query.</div>
    </div>
    <hr/>

    <!-- Form part 2 -->
    <div style="">
      <h3>2. Select several repos you are familiar with or have used in the past.</h3>
      <label>Type to filter: <input ng-model="selectReposFilter"></label>
      <br/>
<!--      <select multiple ng-options="repo as repo.full_name for repo in repos | filter: selectReposFilter" ng-model="selectedRepos" style="height: 25vh;"></select>-->

      <div style="display: flex">
        <div style="width: 500px; height: 300px; overflow: scroll">
	  <h4>All repos</h4>
          <p ng-show="repos.length === 0">Loading Repos</p>
          <div ng-repeat="repo in repos | filter: selectReposFilter track by $index">
            <p style="display: flex; justify-content: space-between">
              {{repo.full_name}} <button href="#" ng-click="selectRepo(repo); $event.preventDefault()">
                select &gt;&gt;</button>
            </p>
          </div>
        </div>
        <div style="width: 500px; height: 300px; overflow: scroll">
          <h4>Selected Repos</h4>
          <div ng-repeat="repo in selectedRepos track by $index">
            <p style="display: flex; justify-content: space-between">
              {{repo.full_name}}<button ng-click="deselectRepo($index); $event.preventDefault()">&lt;&lt; Remove</button>
            </p>
          </div>
        </div>
        <hr/>
      </div>
    </div>
    <!-- Form part 3 -->
    <div>
      <h3>3. Get Recommendations</h3>
      <button ng-click="submitRecommendationSearch()">Get Recommendations</button>
    </div>

    <div>
      <h3>4. Results</h3>
      <ol>
        <li ng-repeat="result in recommendationSearchResults">
          <span><a href="http://github.com/{{result.full_name}}" target="_blank" >{{result.full_name}}</a>, {{result.count}}</span>
        </li>
      </ol>
    </div>
    <hr/>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
    <script src="script.js"></script>
  </body>

</html>
