<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body ng-controller="HomeController">

    <h1>OSSFinder</h1>
    <hr/>


    <!-- Form part 1 -->
    <p><strong>1. Enter the feature you are looking for.</strong></p>
    <hr/>


    <!-- Form part 2 -->
    <p><strong>2. Select several repos have used in the past.</strong></p>
    <label>Search: <input ng-model="selectReposFilter"></label>
    <select multiple name="select-repos" style="height: 25vh; width: 50vw">
      <option ng-repeat="(key,repo) in repos | filter:selectReposFilter" value={{repo.full_name}}>{{repo.full_name}}</option>
    </select>    
    <hr/>

    <!-- Form part 3 -->
    <div>
      <button ng-click="submitForm()">3. See your results.</button>
    </div>
    <hr/>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
    <script src="script.js"></script>
  </body>

</html>
